# Atlas Distribution - Environment Variables
# Copy to .env for local customization

DB_HOST=srv-db-01
DB_PORT=5432
DB_NAME=atlas_db
DB_USER=atlas_admin
DB_PASS=AtlasSecPass2026!
WEB_PORT=8080
SSH_PORT=2222
